@use "foundation" as f;
@use "layouts";
@use "component";

.kv {
    position: relative;
    height: f.get_vw(750, f.$w_pc);
    background: linear-gradient(to bottom, white 28%, f.$color_gray_bg 28%, f.$color_gray_bg 100%);

    &__img {
        position: absolute;
        top: 0;
        right: 0;
        width: f.get_vw(1067, f.$w_pc);
        z-index: 2;
    }
    &__text {
        position: absolute;
        top: f.get_vw(280, f.$w_pc);
        left: f.get_vw(113, f.$w_pc);
        z-index: 3;
    }
    &__title {
        width: f.get_vw(840, f.$w_pc);
    }
    &__subtitle {
        font-family: YuGothic;
        font-weight: bold;
        font-size: f.calc_fz(21, f.$w_pc);
        letter-spacing: 0.05em;
        line-height: calc(32 / 21);
        color: f.$color_gray;
        margin-top: f.get_vw(44, f.$w_pc);
        margin-left: f.get_vw(30, f.$w_pc);
    }
    .scroll {
        width: f.get_vw(8.23, f.$w_pc);
        height: f.get_vw(263.64, f.$w_pc);
        position: absolute;
        left: f.get_vw(41.8, f.$w_pc);
        top: f.get_vw(486, f.$w_pc);
    }
}
.sec {
    width: f.get_vw(1223, f.$w_pc);
}


