@use "../foundation/" as f;

.header {
    width: 100%;
    height: f.get_vw(100, f.$w_pc);
    display: flex;
    justify-content: space-between;
    padding-left: f.get_vw(26, f.$w_pc);
    padding-right: f.get_vw(40, f.$w_pc);
    padding-top: f.get_vw(29, f.$w_pc);
    &-logo {
        width: f.get_vw(117, f.$w_pc);
        height: f.get_vw(42, f.$w_pc);
        background: f.$color_black;
        a {
            color: white;
        }
    }
    &-nav {
        ul {
            display: flex;
            gap: f.get_vw(65, f.$w_pc);
            height: f.get_vw(70, f.$w_pc);
            li {
                a {
                    font-family: "Helvetica Neue";
                    font-weight: 500;
                    font-size: f.calc_fz(16, f.$w_pc);
                    line-height: calc(40 / 16);
                }
            }
        }
    }
    .menu-item-has-children {
        position: relative;
        .sub-menu {
            &.down {
                display: flex;
            }
            display: none;
            position: absolute;
            top: f.get_vw(70, f.$w_pc);
            left: f.get_vw(-70, f.$w_pc);
            background: red;
            flex-direction: column;
            align-items: center;
            gap: 0;
            z-index: 9;
            width: f.get_vw(220, f.$w_pc);
            height: f.get_vw(165, f.$w_pc);
            padding: f.get_vw(35, f.$w_pc) 0;
            li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: f.get_vw(140, f.$w_pc);
                &::after {
                    content: "";
                    display: block;
                    width: f.get_vw(20, f.$w_pc);
                    height: f.get_vw(20, f.$w_pc);
                    background: url(../img/icon_arrow_circle.svg) no-repeat;
                    background-size: contain;
                }
            }
        }
    }
}
